<div class="topbar">
  <div class="topbar-left"><%= title %></div>
  <div class="topbar-right">
    <div class="user-profile">
      <div class="user-avatar">A</div>
      <div>
        <div style="font-size: 13px; font-weight: 600">Admin</div>
        <div style="font-size: 11px; color: #999">Administrator</div>
      </div>
    </div>
  </div>
</div>
